<tr data-id="<%= collection.id %>" class="collection-<%= collection.id %>">
    <td class="name"><%= collection.name.upcase %></td>
    <td class="option">
        <%= link_to admin_collection_path(collection.id), class: "btn btn-primary", remote: true do %>
            <%= fa_icon "eye" %>
        <% end %>
        <%= link_to "#", class: "btn btn-success", data:{toggle: "modal", target: "#editCollections#{collection.id}", id: collection.id} do %>
            <%= fa_icon "edit" %>
        <% end %>
        <%= link_to "#", class: "btn btn-danger",data:{toggle: "modal", target: "#deleteCollections#{collection.id}", id: collection.id} do %>
            <%= fa_icon "trash" %>
        <% end %>
    </td>
</tr>

<!-- modal edit collection -->
<div class="modal fade editCollections-<%= collection.id %>" id="editCollections<%= collection.id %>" tabindex="-1" data-id="<%= collection.id %>" role="dialog" aria-labelledby="editUsersLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUsersLabel">Chỉnh sửa thông tin Collection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= form_with model: [:admin, collection] do |f| %>
                <%= f.hidden_field :id %>
                <div class="form-box">
                    <label class="sr-only" for="inlineFormInputGroupCollectionname">CollectionName</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <%= fa_icon "edit" %>
                            </div>
                        </div>
                        <%= f.text_field :name, required: true, class: "form-control", id: "inlineFormInputGroupCollectionname", placeholder: "Collection name"   %>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= f.submit "Save changes", class: "btn btn-primary" %>
            </div>
            <% end %>
        </div>
    </div>
</div>

<!-- modal confirm delete User -->
<div class="modal fade deleteCollections-<%= collection.id %>" id="deleteCollections<%= collection.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xóa <%= collection.name %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc muốn xóa <%= collection.name %> ?</p>
        </div>
        <div class="modal-footer">
          <%= link_to "Xoá", admin_collection_path(collection.id), class: "btn btn-danger delete", method: "DELETE", remote: true %>
          <button type="button" class="btn btn-secondary dis" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
