<div class="owl-carousel owl-theme carousel-head">
    <div class="item">
        <%= link_to "#" do %>
        <%= image_tag "owl1.jpg" %>
        <% end %>
    </div>
    <div class="item">
        <%= link_to "#" do %>
        <%= image_tag "owl2.webp" %>
        <% end %>
    </div>
    <div class="item">
        <%= link_to "#" do %>
        <%= image_tag "owl3.webp" %>
        <% end %>
    </div>
    <div class="item">
        <%= link_to "#" do %>
        <%= image_tag "owl4.webp" %>
        <% end %>
    </div>
</div>
