<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 atack-all">
                <div class="block-list">
                    <ul>
                        <li>
                            <%= link_to "Điều Khoản", "#"%>
                        </li>
                        <li>
                            <%= link_to "Chính Sách Bảo Mật" %>
                        </li>
                        <li>
                            <%= link_to "Hướng dẫn sử  dụng" %>
                        </li>
                    </ul>
                </div>
                <p class="hastag">
				    © Copyright Vitis.com.vn. Build by
                    <%= link_to "Lai Bá Vĩ", "#" %>
                </p>
            </div>
            <div class="col-md-2">
                <div class="bct">
                    <%= image_tag "dadangky" %>
                </div>
            </div>
            <div class="col-md-4">
                <p class="text-center license">
                    Giấy CNĐKDN: 0301340497 được cấp ngày 20/01/1992,
                    <br>
                    được sửa đổi lần thứ 20 ngày 28/12/2015 bởi Sở Kế hoạch và Đầu tư TPHCM
                </p>
            </div>
        </div>
    </div>
</footer>
